<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="blue">
<h2>Master Login</h2>
<form  action="readmlogin" method="post">
        {% csrf_token %}
    <table align="center">
        <tr>
            <td>UserName : </td>
            <td><input type="text" name="txtUserName"></td>
        </tr>
        <tr>
            <td>Password : </td>
            <td><input type="password" name="txtPassword"></td>
        </tr>
        <tr>
            <td><input type="submit" name="btnSubmit" value="LOGIN"></td>
            <td><a href="{% url 'mstreg'%}"><input type="button" name="txtSignup" value="SIGNUP"></a></td>
        </tr>

    </table>
</form>
</body>
</html>